.image_weixin{ 
  width: 90px;
  height: 80px;
  margin-left: 100px;
  // cursor: pointer;
}
.login{
  width: 800px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  // transform: -50%;
}